extends layout

block content
  #four-oh-four
    h1 http 1.1 error 404
    p the content you requested was not found
    p you might have better luck by returning to 
      a.ajax(href='/') the homepage
