extends layout

block content
  section#blog
    #blog-index
      each post in posts
        - var postUrl = '/posts/' + post.name
        article.heading
          h2: a.ajax(href=postUrl)= post.title
          if post.meta.subtitle
            h3.subtitle= post.meta.subtitle
          .meta
            include blog_metadata
