div.center-container
  div.center-outer
    div#contact.center-inner
      h1
        | Contact Me


      p To prevent automated spam, you are required to fill out a quick CAPTCHA to reveal my email address. 
        br
        a(href='http://www.google.com/recaptcha/mailhide/d?k=01JzP5E4uFSHOhMtbqE-8_1A==&amp;c=viH3TnMoZejMnYTl4FFJyg==', onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501JzP5E4uFSHOhMtbqE-8_1A\75\75\46c\75viH3TnMoZejMnYTl4FFJyg\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", title='Reveal this e-mail address') Reveal email.
      
      
      p Alternatively, catch me on Twitter 
        a(href='http://twitter.com/jli1') @jli1


