extends layout

block content
  section#frontpage
    h1.name Justin Li
    .tagline software engineer / music person / thing builder
    .contact email me
      span
      |  at 
      // some comment
      span j-li.net
      |  (
      span: a(href='/pgpkey.asc') pgp
      | 
      small 9EE9E9DC
      | )
    .contact twitter 
      span: a(href='https://twitter.com/pushrax') @pushrax
    .contact github 
      span: a(href='https://github.com/pushrax') @pushrax
    .contact soundcloud 
      span: a(href='https://soundcloud.com/teknetic') @teknetic

    #front-posts
      each post in posts
        - var postUrl = '/posts/' + post.name
        article.heading
          h2: a.ajax(href=postUrl)= post.title
          if post.meta.subtitle
            h3.subtitle= post.meta.subtitle
          .meta
            include blog_metadata

block styles
  style
    ::-moz-selection {
      background: #fff;
      color: #000;
      text-shadow: none;
    }

    ::selection {
      background: #fff;
      color: #000;
      text-shadow: none;
    }
