div#bigname
  | Justin Li

div#bigmenu.center-container
  ul.center-outer
    li.center-inner
      a(href='/projects') projects
    li.center-inner
      a(href='/resume') resume
    li.center-inner.last
      a(href='/contact') contact
