if partial
  block content
  block scripts
else
  !!!
  html.no-js
    head
      case title
        when ''
          title Justin Li
        default
          title #{title} &raquo; Justin Li

      meta(charset="utf-8")
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Noto+Serif:400,400italic')
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Donegal+One')
      link(rel='stylesheet', type='text/css', href='/master.css')

    body(class=view)
      #wrapper
        header
          .container
            ul.inner
              li.name: a.ajax(href='/'): span.wrapper
                i.icon-home
                span.name Justin Li
              li.projects: a.ajax(href='/projects')
                i.icon-rocket
                span.title projects
                div
              li.music: a.ajax(href='/music')
                i.icon-music
                span.title music
                div
              li.resume: a.ajax(href='/resume')
                i.icon-briefcase
                span.title résumé
                div

        #content
          #content-wrapper.container
            block content

        footer
          .container
            .copyright &copy; #{year} 
              a.ajax(href='/') Justin Li
              |  
              small
                a(href='https://github.com/pushrax/j-li.net') open source
            .contact
              ul
                li: a.ajax(href='/', title='email jli @ this domain')
                  i.icon-envelope-alt.icon-2x.pull-left
                li: a(href='http://github.com/pushrax', title='pushrax on Github')
                  i.icon-github.icon-2x.pull-left
                li: a(href='http://twitter.com/pushrax', title='@pushrax on Twitter')
                  i.icon-twitter.icon-2x.pull-left

      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js')
      script(type='text/javascript', src='/scripts/stratus.js')
      script(type='text/javascript', src='//connect.soundcloud.com/sdk.js')
      script(type='text/javascript', src='/scripts/main.js')
      block scripts
