if partial
  block content
  block scripts
else
  !!!
  html.no-js
    head
      meta(charset='utf-8')
      case title
        when ''
          title personal home page of Justin Li
        default
          title #{title} » Justin Li

      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='author', content="Justin Li, jli@j-li.net")
      block metadata

      script(type='text/javascript', src='//use.typekit.net/ofv7zqa.js')
      script
        try{Typekit.load();}catch(e){}

      link(rel='stylesheet', type='text/css', href='/master.css')
      block styles

    body(class=view)
      // div(style="position: fixed; color: #def; font-size: 0.7em; line-height: 1em; opacity: 0.3; right: 0") image: serial experiments lain / unknown artist
      #wrapper
        header
          .container
            ul.inner
              li.name: a.ajax(href='/'): span.wrapper
                span.name personal home page of Justin Li

        #content
          #content-wrapper.container
            block content

        footer
          .background
            .container
              .copyright: span &copy; #{year} 
                a.name.ajax(href='/') Justin Li
              .contact
                ul
                  li: a#email-link.ajax(href='/', title='email jli @ this domain')
                    i.icon-envelope-alt.icon-2x.pull-right
                  li: a(href='http://twitter.com/pushrax', title='@pushrax on Twitter')
                    i.icon-twitter.icon-2x.pull-right
                  li: a(href='http://github.com/pushrax', title='pushrax on Github')
                    i.icon-github.icon-2x.pull-right

      block scripts
