!!!
html.no-js
  head
    case title
      when ''
        title j-li.net
      default
        title #{title} >> j-li.net
    
    //- To use WebPutty, uncomment the next line
    //-link(rel='stylesheet', type='text/css', href='//webputty.commondatastorage.googleapis.com/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjUtjwM.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Karla:400,700')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js')
    script(type='text/javascript', src='/scripts/main.js')

  body

    div#menubar
      ul
        li: a.ajaxlink(href='/') home
        li: a(href='http://twitter.com/jli1', title='@jli1 on Twitter') twitter
        li: a(href='http://stackoverflow.com/users/888641/jli', title='jli on Stack Overflow') stackoverflow
        li: a(href='http://github.com/j1i', title='j1i on Github') github
      

      - var hiddenClass = '';
      - if (view == 'index') hiddenClass = 'nodisplay';

      div#submenu.center-container(class=hiddenClass)
        include submenu
      
      
    //-div#topSocial
      ul
        li.twitter: a.twitter(href='http://twitter.com/jli1', title='Follow on Twitter')
        li.stackoverflow: a.stackoverflow(href='http://stackoverflow.com/users/888641/jli', title='StackOverflow Account')
    


    div#powered
      ul
        li.nodejs
          a.nodejs(href='http://nodejs.org/')
    

    div#content!= body

