if partial
  block content
  block scripts
else
  !!!
  html.no-js
    head
      meta(charset='utf-8')
      case title
        when ''
          title Justin Li
        default
          title #{title} » Justin Li

      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      block metadata
      meta(name='author', content="Justin Li, jli@j-li.net")
      link(rel='author', href='https://plus.google.com/113891896641831131136')

      script(type='text/javascript', src='//use.typekit.net/cyu4ujf.js')
      script
        try{Typekit.load();}catch(e){}
      link(rel='stylesheet', type='text/css', href='/master.css')

    body(class=view)
      #wrapper
        header
          .container
            ul.inner
              li.name: a.ajax(href='/'): span.wrapper
                span.name Justin Li
              li.projects: a.ajax(href='/projects')
                i.icon-rocket
                span.title projects
                div
              li.music: a.ajax(href='/music')
                i.icon-music
                span.title music
                div
              li.blog: a.ajax(href='/posts')
                i.icon-quote-left
                span.title web log
                div

        #content
          #content-wrapper.container
            block content

        footer
          .container
            .copyright &copy; #{year} 
              a.name.ajax(href='/') Justin Li
              |  
              small
                a(href='https://github.com/pushrax/j-li.net') open source
            .contact
              ul
                li: a#email-link.ajax(href='/', title='email jli @ this domain')
                  i.icon-envelope-alt.icon-2x.pull-left
                li: a(href='http://github.com/pushrax', title='pushrax on Github')
                  i.icon-github.icon-2x.pull-left
                li: a(href='http://twitter.com/pushrax', title='@pushrax on Twitter')
                  i.icon-twitter.icon-2x.pull-left

      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      script(type='text/javascript', src='/scripts/stratus.js')
      script(type='text/javascript', src='//connect.soundcloud.com/sdk.js')
      script(type='text/javascript', src='/scripts/main.js')
      script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23542419-1']);
        _gaq.push(['_setDomainName', 'j-li.net']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      block scripts
