if partial
  block content
  block scripts
else
  !!!
  html.no-js
    head
      case title
        when ''
          title j-li.net
        default
          title #{title.toLowerCase()} &raquo; j-li.net

      meta(charset="utf-8")
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic')
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Donegal+One')
      link(rel='stylesheet', type='text/css', href='/master.css')

    body(class=view)
      #wrapper
        header
          .container
            ul.inner
              li.name:     a.ajax(href='/'): span Justin Li
              li.projects: a.ajax(href='/projects') projects
              li.music:    a.ajax(href='/music') music
              li.resume:   a.ajax(href='/resume') résumé

        #content
          #content-wrapper.container
            block content

        footer
          .container
            .copyright &copy; #{year} 
              a.ajax(href='/') Justin Li
              |  
              small
                a(href='https://github.com/pushrax/j-li.net') open source
            .contact
              ul
                li
                  i.icon-envelope
                  a.ajax(href='/', title='jli @ this domain') email
                li
                  i.icon-github-alt
                  a(href='http://github.com/pushrax', title='pushrax on Github') github
                li
                  i.icon-twitter
                  a(href='http://twitter.com/pushrax', title='@pushrax on Twitter') twitter

      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js')
      script(type='text/javascript', src='/scripts/stratus.js')
      script(type='text/javascript', src='//connect.soundcloud.com/sdk.js')
      script(type='text/javascript', src='/scripts/main.js')
      block scripts
