div#music
  h1
    | Music

  h2 2012

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F49507041&show_artwork=true"></iframe>

  h2 2009-2010

  <iframe width="100%" height="400" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1752165&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"></iframe>
  

  br
  br
  p You can find a lot of my older music at 
    a(href='http://teknetic.newgrounds.com/') teknetic.newgrounds.com
