extends layout

block content
  #music
    .blurb.inner-container
      h1 Music
      p Collection of random musical tidbits posted on 
        a(href='https://soundcloud.com/teknetic') soundcloud.com/teknetic
      p Adherence to conventional genres is blatantly disregarded; listen at your own discretion
      noscript
        h2
          a(href='http://www.activatejavascript.org/') javascript
          |  is required for this to work.

    .tracks

    .powered.inner-container
      p The player on this page is powered by the 
        a(href='http://developers.soundcloud.com/') Soundcloud API
        |  and 
        a(href='http://stratus.sc/') Stratus 2
        | . You can keep browsing the site while it's playing.

block scripts
  script(type='text/javascript', src='/scripts/soundcloud.js')
