div#music
  h1
    | Music
  
  p Some of my more recent music:
  
  <object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013327"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013327" type="application/x-shockwave-flash" width="100%"></embed> </object>  <span><a href="http://soundcloud.com/teknetic/ralph-novell-back-remix-demo">Ralph Novell - Back (Remix Demo)</a> by <a href="http://soundcloud.com/teknetic">teknetic</a> (2010)</span> 

  <object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013498"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013498" type="application/x-shockwave-flash" width="100%"></embed> </object>  <span><a href="http://soundcloud.com/teknetic/jer-martin-ten-minutes-to">Jer Martin - Ten Minutes to Midnight (Remix WIP)</a> by <a href="http://soundcloud.com/teknetic">teknetic</a> (2010)</span> 

  <object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013606"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013606" type="application/x-shockwave-flash" width="100%"></embed> </object>  <span><a href="http://soundcloud.com/teknetic/melody-24">Melody 24</a> by <a href="http://soundcloud.com/teknetic">teknetic</a> (2010)</span> 

  <object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013733"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40013733" type="application/x-shockwave-flash" width="100%"></embed> </object>  <span><a href="http://soundcloud.com/teknetic/dreams-of-the-universe">Dreams of the Universe</a> by <a href="http://soundcloud.com/teknetic">teknetic</a> (2009)</span> 

  p You can find a lot of my older music at 
    a(href='http://teknetic.newgrounds.com/') teknetic.newgrounds.com
