extends layout

block content
  #projects
    .inner-container
      h1 Projects

    ul.main
      li.project
        .left: h2: a(href='http://frustra.org') Frustra
        .right
          p Frustra Software Design is a collaboration of software between myself and 
            a(href='http://jacobwirth.ca/') Jacob Wirth
            | . We've worked together on a few of the projects featured on this page.

      li.project
        .left: h2: a(href='http://frustra.org/mycraft') MyCraft
        .right
          p A mod manager and loader for all versions of 
            a(href='http://minecraft.net') Minecraft.
          p As of August 2012, we've served over 
            strong 750,000 unique
            |  downloads.
        .tag frustra project

      li.project
        .left: h2: a(href='http://frustra.org/tetrus') TetrUs
        .right
          p A cooperative multiplayer version of the classic video game 
            i Tetris 
          p Each player controls a single block, requiring careful coordination to clear the game.
        .tag frustra project

      li.project
        .left
          h2: a(href='http://portal2sounds.com') Portal 2 Sounds
          h2
            span &amp; 
            a(href='http://tf2sounds.com') TF2 Sounds
        .right
          p
            | A set of 
            a(href='http://en.wikipedia.org/wiki/Soundboard_(computer_program)') soundboards
            |  containing every single bit of dialog from Valve's  
            a(href='http://www.thinkwithportals.com/') Portal
            |  and 
            a(href='http://www.teamfortress.com/') Team Fortress 2
            |  series'.
          p As of August 2012, we've served over 
            strong 30,000,000
            |  aggregate listens, totalling over 
            strong 3.5 TB
            |  of content.
        .tag frustra project

      li.project
        .left: h2: a(href='http://wat-do.com') wat do?
        .right
          p A time management webapp that helps you decide what to do and track what you got done.
        .tag frustra project

      li.project
        .left: h2: a(href='https://github.com/j1i/catnip') catnip
        .right
          p A simple, single server deployment utility that automates git and mercurial based workflows.
          p After setting up a simple 
            a(href='http://en.wikipedia.org/wiki/YAML') yaml
            |  file, just run 
          code $ catnip deploy &lt;project name&gt;
          p to automatically synchronize the project, compile it as necessary, and run it.
          p Used in production on the Frustra servers.

      li.project
        .left: h2: a(href='https://github.com/j1i/bfit') bfit
        .right
          p brainfuck in time (or 
            code bfit
            | ) is a x86 just-in-time compiler for the esoteric language 
            a(href='http://en.wikipedia.org/wiki/Brainfuck')
            |  brainfuck, written in pure C.

    .inner-container
      h2 Open source libraries

      p Some simple stuff that I've developed for use in my own projects.

    ul.libraries
      li.project
        .left: h3: a(href='https://github.com/j1i/node-blog-base') node-blog-base
        .right
          p A dead simple, lightweight blogging backend built in Node.js with markdown. Powers the 
            a(href='http://frustra.org/blog') Frustra blog
            | .

      li.project
        .left: h3: a(href='https://github.com/j1i/express-template-cache') express-template-cache
        .right
          p A fast template cache for rendering static pages in 
            a(href='http://expressjs.com') Express
            | .

      li.project
        .left: h3: a(href='https://github.com/j1i/jp33r') jp33r
        .right
          p A peer-to-peer UDP socket library that automates NAT traversal for Java applications. Used in 
            a(href='https://github.com/j1i/tetrus') TetrUs
            | .

      li.project
        .left: h3: a(href='https://github.com/j1i/node-rcon') node-rcon
        .right
          p An RCON client for Node.js with support for Source, GoldSrc, Minecraft and other servers that use the protocol.
