div.center-container
  div.center-outer
    div#projects.center-inner
      h1 Projects


      h3
        a(href='http://frustra.org') frustra.org
      p Frustra Software Design is a collaboration of software between myself and 
        a(href='http://jacobwirth.ca') Jacob Wirth.
        br
        | Some of the things we've made or are making:


      ul
        li
          a(href='http://frustra.org/mycraft') MyCraft
          |  - A mod manager and loader for all versions of 
          a(href='http://minecraft.net') Minecraft.
          ul
            li As of August 2012, we've served over 750,000 
              strong unique
              |  downloads.
        li
          a(href='http://frustra.org/tetrus') Tetrus
          |  - A cooperative multiplayer version of the classic 
          i Tetris 
          a(href='http://github.com/j1i/tetrus') (github).
        li
          a(href='http://frustra.org/derpfort') DerpFort
          |  (working name) - An online FPS, in which you battle your foes to defend the fort you build yourself.


      h3
        a(href='http://portal2sounds.com') portal2sounds.com
        |  & 
        a(href='http://tf2sounds.com') tf2sounds.com
      
      p
        | A set of soundboards containing everything from the 
        a(href='http://www.thinkwithportals.com/') Portal
        |  and 
        a(href='http://www.teamfortress.com/') Team Fortress 2
        |  series'.
      ul
        li As of August 2012, we've served over 30,000,000 aggregate views, and over 3.5 TB of content.
      


      h3 Open Source
      p My (far too few) open source projects:
      ul
        li
          a(href='http://github.com/j1i/node-blog-base') node-blog-base
          |  - A simple and lightweight blogging backend built in nodejs with support for markdown.
          ul
            li Used in production on the 
              a(href='http://frustra.org/blog') Frustra blog
              | .
        li
          a(href='http://github.com/j1i/express-template-cache') express-template-cache
          |  - Adds fast cached rendering of templates to 
          a(href='http://expressjs.com') Express.
        li
          a(href='http://github.com/j1i/catnip') catnip
          |  - A simple single server deployment utility that automates git or hg based workflows.
          ul
            li After setting up a simple yaml file, just 
              code catnip deploy project_name
              |  to automatically update and relaunch
            li Used in production on all Frustra servers
        li
          a(href='http://github.com/j1i/jp33r') jp33r
          |  - A peer-to-peer UDP socket library that automates NAT traversal for Java applications.
        li
          a(href='http://github.com/j1i/node-rcon') node-rcon
          |  - An RCON client for nodejs with support for Source, GoldSrc, Minecraft servers etc.
      

      h3 Demos
      ul
        li
          a(href='/physics/PhysicsDemos-alpha.0.0.1.zip') PhysicsDemos Alpha 0.0.1
          |  (Mac OS X 10.5+) - A set of demos for basic principles of physics.
