extends layout

block content
  #resume
    .inner-container
      .controls
        a(href='/files/resume.pdf') printable pdf

      .masthead
        h1 Justin Li
        p &hellip;is a software engineer perpetually in training, who loves to build things
      include ../jade-resume/resume
