#four-oh-four {
  .row;
  h1 {
    font-family: @accent-font;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3, h4, h5 {
    margin-top: 0.5rem;
  }
  h5 { font-weight: normal; }
  h4 { font-weight: 500; }
  div {
    .column(12);
  }
}
