header, footer {
  width: 100%;
  min-width: @min-width;
  margin: 0;
  padding: 0;
  font-family: @accent-font;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li { float: left; }
  a:hover { color: @background; }

  opacity: 1;
}

@header-height: 48px;
header {
  line-height: @header-height;
  height: @header-height;
  background: @faded-dark;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  // .box-shadow(0 3px 12px rgba(0, 0, 0, 0.28));
  .transition(opacity 350ms ease-in-out, top 300ms cubic-bezier(0.86, 0, 0.07, 1));

  .inner { .row; }

  li {
    .column(3);
  }
  a {
    display: block;
    height: 100%;
    text-align: center;
    .transition(color 100ms ease-in-out);
    color: @faded-mid-light;
    text-decoration: none;
    position: relative;
    .ms-font-size(1);

    span.title { padding-left: 8px; }
    i { .transition(color 50ms ease-in-out); }

    div {
      height: 0;
      width: 100%;
      position: absolute;
      top: 0; left: 0;
      .transition(height 300ms ease-in-out);
    }
    @media @mobile {
      span.title {
        display: none;
      }
    }
  }
  li.name {
    .column(3);
    a {
      .ms-font-size(2);
      text-shadow: 0 1px 0 darken(@faded-dark, 12%);
      text-align: left;
      color: @background;
      border: none;

      .name {
        .transition(opacity 200ms ease-in-out);
        opacity: 1;
        white-space: nowrap;
      }

      &:hover span.wrapper {
        span {
          text-decoration: underline;
        }
        i { color: @background; }
      }
      i {
        color: @faded-mid-light;
        padding-right: 10px;
      }

      @media @tablet {
        padding-left: 20px;
      }
      @media @mobile {
        padding-left: 10px;
      }
      @media @tiny {
        .ms-font-size(1);
        padding-left: 6px;
      }
    }
    @media @tablet {
      .column(3);
    }
  }
}

footer {
  line-height: @header-height * 1.5;

  display: table-row;
  position: relative;
  clear: both;
  .clearfix();
  box-sizing: border-box;

  color: @faded-mid-dark;

  a {
    color: @faded-mid;
  }

  li {
    padding: 0 1em;
    @media @tablet {
      padding: 0 1.5em;
    }
    @media @tiny {
      padding: 0 1em;
    }
  }
  border-top: 10px solid @orange;
  .background {
    .clearfix();
    background-color: @faded-dark;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .copyright {
    float: left;
    .ms-font-size(0);
  }
  .contact {
    float: right;
    padding-right: 2px;
    a {
      color: @faded-mid-dark;
      text-decoration: none;
      &:hover { color: @background; }
      i {
        margin-top: 2px;
      }
    }
  }

  @media @tablet {
    .copyright {
    }
    .contact {
      .ms-font-size(1);
    }
    .contact, .copyright {
      float: none;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    ul {
      display: inline-block;
      i {
        width: 40px;
        margin: 0!important;
      }
    }
  }
}

body.index header, header.hidden {
  top: -@header-height;
  opacity: 0;
}


// Tab-specific colours
body.projects header .projects,
body.music header .music,
body.blog header .blog,
body.blog_post header .blog,
body.resume header .resume {
  a {
    color: @background;
    i { color: @background; }
    div { height: 5px; }
  }
}

header {
  .projects a {
    div { background-color: @violet; }
    i { color: @violet; }
    &:hover i { color: lighten(@violet, 10%); }
  }
  .music a {
    div { background-color: @magenta; }
    i { color: @magenta; }
    &:hover i { color: lighten(@magenta, 10%); }
  }
  .blog a {
    div { background-color: @blue; }
    i { color: @blue; }
    &:hover i { color: lighten(@blue, 10%); }
  }
  .resume a {
    div { background-color: @blue; }
    i { color: @blue; }
    &:hover i { color: lighten(@blue, 10%); }
  }
}

body.resume header .name {
  .name {
    opacity: 0;
  }
  i { display: inline; }
  @media @mobile {
    .name { display: none; }
    a {
      text-align: center;
    }
  }
}

//body.music header .music a { text-shadow: 0 1px 0 darken(@magenta, 18%); }
//body.resume header .resume a { text-shadow: 0 1px 0 darken(@blue, 18%); }

@media print {
  #content-wrapper {
    padding: 0;
  }

  header, footer {
    display: none;
  }
}
