header, footer {
  width: 100%;
  min-width: @min-width;
  margin: 0;
  padding: 0;
  background: @faded-dark;
  font-family: @accent-font;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li { float: left; }
  a:hover { color: @background; }

  opacity: 1;
}

@header-height: 48px;
header {
  line-height: @header-height;
  height: @header-height;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .box-shadow(0 3px 12px rgba(0, 0, 0, 0.28));
  .transition(opacity 350ms ease-in-out, top 300ms cubic-bezier(0.86, 0, 0.07, 1));

  .inner { .row; }

  li {
    .column(3);
  }
  a {
    display: block;
    height: 100%;
    text-align: center;
    .transition(color 100ms ease-in-out);
    color: @faded-mid-light;
    border-bottom: none;
    position: relative;
    .ms-font-size(1);

    span.title { padding-left: 8px; }
    i { .transition(color 50ms ease-in-out); }

    div {
      height: 0;
      width: 100%;
      position: absolute;
      top: 0; left: 0;
      .transition(height 300ms ease-in-out);
    }
    @media @mobile {
      span.title {
        display: none;
      }
    }
  }
  li.name {
    .column(3);
    a {
      .ms-font-size(2);
      text-shadow: 0 1px 0 darken(@faded-dark, 12%);
      text-align: left;
      color: @background;
      border: none;

      .name {
        .transition(opacity 200ms ease-in-out);
        opacity: 1;
        white-space: nowrap;
      }

      &:hover span.wrapper {
        span {
          border-bottom: 1px dotted @faded-mid;
        }
        i { color: @background; }
      }
      i {
        color: @faded-mid-light;
        padding-right: 10px;
      }

      @media @tablet {
        padding-left: 20px;
      }
      @media @mobile {
        padding-left: 10px;
      }
      @media @tiny {
        .ms-font-size(1);
        padding-left: 6px;
      }
    }
    @media @tablet {
      .column(3);
    }
  }
}

footer {
  line-height: @header-height;

  display: table-row;
  position: relative;
  clear: both;
  .clearfix();

  border-top: 8px solid @orange;
  color: @faded-mid-dark;

  a {
    color: @faded-mid;
    border-bottom: 1px dotted @faded-mid-dark;
  }

  li {
    padding: 0 1em;
    @media @tiny {
      padding: 0 0.5em;
    }
  }

  .copyright {
    float: left;
    padding-left: 10px;
    margin: 0;
    .ms-font-size(1);
    small {
      margin-left: 1em;
      .ms-font-size(0);
    }
  }
  .contact {
    float: right;
    padding-right: 2px;
    a {
      color: @faded-mid-dark;
      &:hover { color: @background; }
      i {
        margin-top: 2px;
      }
    }
  }

  @media @tablet {
    .contact, .copyright {
      float: none;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    ul {
      display: inline-block;
    }
  }
}

body.index header {
  top: -@header-height;
  opacity: 0;
}


// Tab-specific colours
body.projects header .projects,
body.music header .music,
body.blog header .blog,
body.blog_post header .blog,
body.resume header .resume {
  a {
    color: @background;
    i { color: @background; }
    div { height: 5px; }
  }
}

header {
  .projects a {
    div { background-color: @violet; }
    i { color: @violet; }
    &:hover i { color: lighten(@violet, 10%); }
  }
  .music a {
    div { background-color: @magenta; }
    i { color: @magenta; }
    &:hover i { color: lighten(@magenta, 10%); }
  }
  .blog a {
    div { background-color: @blue; }
    i { color: @blue; }
    &:hover i { color: lighten(@blue, 10%); }
  }
  .resume a {
    div { background-color: @blue; }
    i { color: @blue; }
    &:hover i { color: lighten(@blue, 10%); }
  }
}

body.resume header .name {
  .name {
    opacity: 0;
  }
  i { display: inline; }
  @media @mobile {
    .name { display: none; }
    a {
      text-align: center;
    }
  }
}

//body.music header .music a { text-shadow: 0 1px 0 darken(@magenta, 18%); }
//body.resume header .resume a { text-shadow: 0 1px 0 darken(@blue, 18%); }

@media print {
  #content-wrapper {
    padding: 0;
  }

  header, footer {
    display: none;
  }
}
