.index #content-wrapper {
  padding: 0;
}

.index footer {
  display: none;
}

#front-posts {
  margin-top: 2em;
}

#frontpage {
  padding: 70px 1.5em 30px;
  text-shadow: 0 1px 0 @shadow-color;

  .tagline {
    margin-bottom: 1em;
  }

  .tagline, .contact {
    text-shadow: 0 1px 0 @shadow-color;
    font-weight: normal;
    color: @faded-mid;
    line-height: 1.4em;
    span, a {
      color: @faded-dark;
    }
  }

  @media @tablet {
    padding: 1.5em;
    .tagline {
      margin-top: 10px;
    }
  }
}
