body.index {
  color: white;
  background-color: black;
  background-image: url("/images/GnjL1PH-raster3.jpg");

  .name {
    font-family: @accent-font;
  }

  #wrapper {
    .name {
      text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000 !important;
    }
    p, span, div {
      text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000 !important;
    }
  }

  div, span {
    color: white!important;
  }

  a {
    color: #ff9575!important;
    // color: lighten(@red, 20%) !important;
    // color: #7fa!important;
    text-decoration: none;
    &:hover {
      color: #fff!important;
    }
  }
}

img.bg {
  width: 100%; min-width: 640px; position: fixed; min-width: 16in;
  pointer-events: none;
}

.index #content-wrapper {
  padding: 0;
  margin-left: 2%;
}

.index footer {
  display: none;
}

#front-posts {
  margin-top: 2em;
}

#frontpage {
  padding: 70px 1.5em 30px;
  text-shadow: 0 1px 0 @shadow-color;

  .tagline {
    margin-bottom: 1em;
  }

  .tagline, .contact {
    text-shadow: 0 1px 0 @shadow-color;
    font-weight: normal;
    color: @faded-mid;
    line-height: 1.4em;
    span, a {
      color: @faded-dark;
    }
  }

  @media @tablet {
    padding: 1.5em;
    .tagline {
      margin-top: 10px;
    }
  }
}
