#frontpage {
  padding: 80px 0 30px;
  text-align: center;
  text-shadow: 0 1px 0 @shadow-color;

  .tagline, .contact {
    .ms(1, 0, 0);
    text-shadow: 0 1px 0 @shadow-color;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-family: @sans;
    padding-top: 0.5em;
    color: @faded-mid;
    span {
      font-weight: bold;
      color: @faded-dark;
    }
  }
  .contact span {
    color: @orange;
  }

  .name {
    .ms-size(8, 1);
    margin: 0;
    color: @faded-mid-light;
    text-shadow: 1px 1px 0 @faded-mid;
  }

  @media @tablet {
    padding: 0;
    .tagline {
      margin-top: 10px;
    }
    .name { .ms-font-size(7); }
  }

  .menu {
    .ms(3, 0, 0);

    text-transform: uppercase;
    font-family: @accent-font;
    font-weight: bold;
    padding: 20px 0 0;
    text-shadow: 0 1px 0 @shadow-color;
    text-align: center;

    ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0 auto;

      @media @tablet {
        display: block;
        margin-top: 20px;
        width: auto;
      }
    }

    li {
      @border: 1px dashed fadeout(@foreground, 80%);
      float: left;
      margin: 0;
      position: relative;

      &:after {
        content: "/";
        font-family: @sans;
        font-weight: 200;
        font-size: 92%;
        position: absolute;
        top: -2px;
        right: -6px;
        color: @faded-mid-light;
      }
      &:last-child:after {
        content: "";
      }

      a {
        display: block;
        padding: 0 20px;
        border-bottom: none;
        color: @foreground;
        &:hover { color: @faded-mid-dark; }
      }

      @media @tablet {
        float: none;
        text-align: center;
        border-left: none;
        border-top: @border;
        a {
          padding: 20px 0;
        }
        &:after {
          content: "";
        }
        &:last-child {
          border-bottom: @border;
        }
      }

      &:first-child {
        border-left: none;
      }
    }
  }
}
