html, body {
  height: 100%;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  display: table;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

#content {
  display: table-row;
  height: 100%;
  overflow: auto;
}
#content-wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  .clearfix();
}

.inner-container {
  width: 100%;
  position: relative;
  @media @laptop {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.separated-row() {
  border-bottom: 1px solid darken(@faded-light, 5%);
  &:first-child {
    border-top: 1px solid darken(@faded-light, 5%);
  }
}

.separated-column() {
  border-right: 1px solid darken(@faded-light, 5%);
  &:first-child {
    border-left: 1px solid darken(@faded-light, 5%);
  }
}
