body {
  background: @background;
  color: @foreground;
}

::-moz-selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}

a {
  outline: none;
  color: @orange;
  text-decoration: none;
  .transition(color 100ms ease-out 0s);
  border-bottom: 1px dotted lighten(@orange, 30%);

  &:hover {
    color: @faded-mid-dark;
    border-bottom-color: @orange;
  }
}

code, kbd, pre, samp {
  font-family: @monospace;
}

code {
  font-size: 0.85em;
  color: @faded-mid;
}

pre code {
  font-size: 1.0em;
  color: @foreground;
}

ul {
  list-style: square;
}

.name {
  font-family: @accent-font;
  font-weight: bold;
  text-transform: uppercase;
}


@media print {
  body {
    background: transparent;
    color: black;
  }

  a {
    border: none;
  }
}
