body {
  background: @background;
  color: @foreground;
  font-family: @body-font;
  font-weight: @body-weight;
}

::-moz-selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}

a {
  outline: none;
  color: @orange;
  text-decoration: none;
  .transition(color 100ms ease-out 0s);
  border-bottom: 1px dotted lighten(@orange, 30%);

  &:hover {
    color: @faded-mid-dark;
    border-bottom-color: @orange;
  }
}

code, kbd, pre, samp {
  color: @blue;
}

ul {
  list-style: square;
}

.name {
  font-family: @accent-font;
}


@media print {
  body {
    background: transparent;
    color: black;
  }

  a {
    border: none;
  }
}
