@base-font-size: 16px;
@base-line-height: 1.5;
//@scale-factor: 1.588;
@scale-factor: 1.54;
//@scale-factor: 1.388;

.ms-font-size (@scale, @scale-factor: @scale-factor) when (mod(@scale, 2) = 1) {
  @calculated-font-size: (1 * (~`Math.pow("@{scale-factor}", "@{scale}" / 2)`));
  font-size: @calculated-font-size * 1rem;
}

.ms-font-size (@scale, @scale-factor: @scale-factor) {
  @calculated-font-size: (1 * (~`Math.pow("@{scale-factor}", "@{scale}" / 2)`));
  font-size: @calculated-font-size * 1rem;
}

.ms-size (@scale, @line-height: @base-line-height) {
  .ms-font-size(@scale);
  @calculated-line-height: @calculated-font-size * @line-height;
  line-height: @calculated-line-height * 1rem;
  //line-height: ceil((@calculated-font-size / (@line-height * @font-size))) * (@line-height * @font-size);
}

.ms (
  @scale,
  @margin-before: 0,
  @margin-after: 0,
  @line-height: @base-line-height)
{
  .ms-size(@scale, @line-height);
  margin-top: @calculated-font-size * @margin-before * 1rem;
  margin-bottom: @calculated-font-size * @margin-after * 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @sans;
  font-weight: @header-weight;

  span {
    color: @faded-mid;
  }
}

html, body {
  font-family: @serif;
  font-weight: @body-weight;
  font-size: @base-font-size;
  line-height: @base-font-size * @base-line-height;
  -webkit-font-smoothing: antialiased;
}

p  { .ms(0, 0, 0); }
h1 { .ms(5, 1, 0.3, 1.2); }
h2 { .ms(4, 1, 0.2); }
h3 { .ms(3, 1, 0); }
h4 { .ms(2, 1, 0); }
h5 { .ms(1, 1, 0); }
h6 { .ms(0, 1, 0); }

@media @tablet {
  html, body {
    font-size: @base-font-size - 1px;
    line-height: (@base-font-size - 1px) * @base-line-height;
  }
}

@media @mobile {
  html, body {
    font-size: @base-font-size - 2px;
    line-height: (@base-font-size - 2px) * @base-line-height;
  }
}

